GO_HTTP_ADDR=127.0.0.1:8001
APP_TIMEZONE=Asia/Shanghai
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=news_app
DB_CHARSET=utf8mb4
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
GO_CACHE_PREFIX=go:news:
AI_API_KEY=
AI_MODEL=qwen3-max-preview
AI_API_ENDPOINT=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
